.region-primary-menu ul.menu > li:nth-child(3) {
  flex-grow: 2;
}

ul.sf-menu li.sf-depth-1.menuparent ul {
  margin-top: 0px;
}


@media (max-width: 900px) {
  ul.sf-menu li.sf-depth-1.menuparent ul {
    margin-top: 0;
  }
}
